body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#graphArea {
  width: 100%;
  
  
  box-sizing: border-box;
  height: 400px;
  border: 2px solid #eeeeee;
  background-color: white;
  position: relative;
  margin-top: 6px;
  
}

#homeBorder {
  width: 100%;
  height: 120px;
  
  
  
  opacity: 1;
  border: 2px solid #fa1616;
  background-color: #1d1b38;
  color: white;
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
  box-sizing: border-box;
}


#meterBox {
  position: relative;
  width: 10%;
  
}

#meter {
  
  margin-top: 7px;
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 518px;
  background-color: white;
  overflow: hidden;
}

#information {
  transition: 2s;
  position: absolute;
  right: -10%;
  margin-top: 8px;
  float: left;
  width: 20%;
  
  height: 518px;
  overflow: visible;
  
}

#information div ul {
  text-decoration: underline;
}

#information:hover {
  opacity: 0.8;
  transition: right 2s color 2s;
  position: absolute;
  right: 0%;
  width: 20%;
  z-index: 20;
  background-color: lightgray;
  
}

#pointer {
  
  position: absolute;
  left: -20px;
  width: 20px;
  height: auto;
  
  margin-top: 200px;
  
}
#information:hover #beforeHover{
  display: none;
}
#information:hover #duringHover {
  transition: 0s;
  width: 90%;
  padding-right: 0%;
  display: block;
}

#beforeHover {
  font-size: 40px;
  padding-right: 40%;
}

#duringHover {
  display: none;
}


#infoStart {
  margin-top: 100px;
}

#graphBox {
  float: left;
  height: 520px;
  width: 80%;
  box-sizing: border-box;
  margin-bottom: 10px;
}



#meterHover {
  position: absolute;
  color: green;
  width: auto;
  z-index: 2;
}

#meter div {
  width: 30%;
  transition: 1s;
  margin-left: 35%;
}

#meetingHover {
  position: absolute;
  width: auto;
}

#bottomBorder div {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  color: black;
  font-size: large;
  font-weight: bold;
  height: 25px;
  margin-top: 5px;
}


#negativeCovid, #negativeMeter {
  background-color: lightblue;
}

#positiveCovid, #positiveMeter {
  background-color: red;
}

#recoveredCovid, #recoveredMeter {
  background-color: #f8ed62;
}

#deceasedMeter {
  background-color: black;
}


.person {
  width: 20px;
  background-color: lightblue;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
 border: 1px solid white;
  position: absolute; 
  transition: background-color 4s;
}

#title {
  height: 75px;
  font-size: 50px;
}

#inputs {
  width: 100%;
  
  position: relative;
  text-align: center;
  height: 100px;
}

#topBox{
  
  box-shadow:         3px 3px 5px 6px #eee;
  height: 100px;
}

#generate, #reset {
  width: 20%;
  margin-left: 40%;
  position: relative;
  z-index: 4;
  top: -2px;
}

#reset {
  z-index: 5;
}

#generate button {
  border: 0.5px solid gray;
  border-top: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  border-bottom-right-radius:15%;
border-bottom-left-radius:15%;
}

#masks {width:20px; height: 20px;}

.input {
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 33.333%;
  height: 100px;
  padding: 0px;
  transition: background-color 1s;
}

#inputs div:hover {
  background-color: lightgray;
  opacity: 0.75;
  
  
  transition: background-color 1s, font-size 2s, color 2s;
}

.labels{
  box-sizing: border-box;
  margin: 0;
  border: 0px;
  z-index: 2;
  padding: 0px;
  top: -122px;
  position: relative;
}


.ins {
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
  width: 100%;
  height: 100px;
  border: 0px;
  padding: 0px;
  font-size: 20px;
  transition: background-color 1s, font-size 2s, color 2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#maskBox {

  transition: background-color 1s;
}

#innerMaskBox {

  width: 100%;
  height: 100%;

}

#maskBox label{
  
  color: black;
top: -120px;
 
 
 
}

#masks {
  
  
  position: relative;
  box-sizing: border-box;
  margin-left: 40%;
  background-color: lightgray;
  width: 20%;
  height: 50%;
  top: 25%;
  
}



#inputs div input:hover {
  background-color: lightgray;
  opacity: 0.75;
  
  
  
  transition: background-color 1s, font-size 2s, color 2s;
}

::placeholder:hover {
  color: white;
  opacity: 1;
}




#sd {
  color: green;
}



#socialDistance label{
  
  position: relative;

}

.angel {
  width: 35px;
  height: auto;
}

#sd {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.person img{
  width: 20px;
  height: auto;
  padding-top: 2.5px;
}

.person:hover {
  transform: scale(2.7);
  z-index: 3;
}

.cough{
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: yellow;
  border: 1px solid black;
  transition-duration: 2;
  position: absolute;
}

.transmit{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: blue;
  opacity: 0.3;
  
  
  position: absolute;
}



#endmsg {
  background-color: yellow;
  width: 30%;
  height: auto;
  z-index: 6;
  border-radius: 5%;
  position: relative;
  margin-left: 35%;
  margin-top: 20%;
}

#overshadow {
  position: fixed;
  display: none;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
  height: 100%;
  width: 100%;
}

.meeting {
  height: 50px;
  width: 50px;
  opacity: 1;
  position: absolute;
  
  
}

.meeting img {
  height: 50px;
  width: 50px;
}


#home {
  position: absolute;
  width: 20%;
  height: 20%;
  border: 1px solid black;
  bottom: 0;
  left: 40%;
  text-align: center;
  border-top-right-radius:50%;
  border-top-left-radius:50%;
}



#homeBorder:hover {
  background-color: #383e56;
}